WcfServiceLibrary1/ClientSideLayer/Connected Services/HotelServiceReference/WcfServiceLibrary1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfHotelEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HotelEntity" nillable="true" type="tns:HotelEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHotelEntity" nillable="true" type="tns:ArrayOfHotelEntity" />
  <xs:complexType name="HotelEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" type="xs:int" />
      <xs:element minOccurs="0" name="rating" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HotelEntity" nillable="true" type="tns:HotelEntity" />
</xs:schema>